#!/bin/bash

if [ -z "$1" ]; then
    echo "A first argument is required to be used as BUCKET NAME"
    exit 1
fi
if [ -z "$2" ]; then
    echo "A second argument is required to be used as UPLOAD IAM ROLE ARN i.e: arn:aws:iam::123456789012:user/user_name"
    exit 1
fi

BUCKET_NAME=$1
UPLOAD_IAM_ROLE_ARN=$2
if [ -z "$3" ]; then
    PROFILE_NAME="default"
else
    PROFILE_NAME=$3
fi
echo "Using ${PROFILE_NAME} as profile name"

pip install awscli
aws s3api create-bucket \
    --bucket ${BUCKET_NAME} \
    --acl public-read \
    --region us-west-2 \
    --create-bucket-configuration LocationConstraint=us-west-2 \
    --profile ${PROFILE_NAME}

cat > policy_bucket_s3.json <<EOF
{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "PublicReadForGetBucketObjects",
            "Effect": "Allow",
            "Principal": {
                "AWS": "*"
            },
            "Action": "s3:GetObject",
            "Resource": "arn:aws:s3:::${BUCKET_NAME}/*"
        },
        {
            "Effect": "Allow",
            "Principal": {
                "AWS": "${UPLOAD_IAM_ROLE_ARN}"
            },
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::${BUCKET_NAME}",
                "arn:aws:s3:::${BUCKET_NAME}/*"
            ]
        }
    ]
}
EOF
aws s3api put-bucket-policy \
    --bucket ${BUCKET_NAME} \
    --policy file://${PWD}/policy_bucket_s3.json \
    --profile ${PROFILE_NAME}
